<div id = "dialog">
    <h2 mat-dialog-title>Inchiriaza cartea preferata!</h2>

    <mat-dialog-content [formGroup]="form">
      
        <mat-form-field>
    
            <input matInput [matDatepicker]="myDatepicker1"
                formControlName="startDate">
    
            <mat-datepicker-toggle matSuffix
                                   [for]="myDatepicker1">
    
            </mat-datepicker-toggle>
    
            <mat-datepicker #myDatepicker1></mat-datepicker>
    
        </mat-form-field>
        <mat-form-field>
    
            <input matInput [matDatepicker]="myDatepicker2"
                formControlName="endDate">
    
            <mat-datepicker-toggle matSuffix
                                   [for]="myDatepicker2">
    
            </mat-datepicker-toggle>
    
            <mat-datepicker #myDatepicker2></mat-datepicker>
    
        </mat-form-field>
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button class="mat-raised-button"(click)="close()">Close</button>
        <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
    </mat-dialog-actions>
</div>
