
    <mat-card class="login">
        <i class="material-icons" id="login-icon">
                account_circle
        </i>
        
        <button class="loginBtn loginBtn--facebook" (click)="facebookLogin()">
            Conecteaza-te cu Facebook
        </button>
        
        <div class="hr-sect">sau</div>
        
          <mat-form-field id = "emailId">
            <i class="material-icons">
                email
                </i>
            <input matInput placeholder="Introduceti email-ul dvs" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
        
          <mat-form-field id ="passId">
              <i class="material-icons">
                  lock
                  </i>
            <input matInput placeholder="Introduceti parola" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
            <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
            <mat-icon matSuffix (click)="hide = !hide"></mat-icon>
          </mat-form-field>
        
          <button mat-raised-button id = "loginId" (click) = "login()" >Login</button>
          <button mat-button id = "registerId" (click) = "register()"  >Nu ai cont? Inregistreaza-te aici</button>
        
        </mat-card>
  

  


