
<div class="flex-container">
  <header>
    <div>
        <h1>Contacteaza-ne!</h1>
    </div>
    
  </header>
  
  <div>
      <div class="article">
          <div class="contact-info">
              <p>Numar de telefon: +40 768 720 006</p>
              <p>Email: contact@upb.com</p>
              <p>Adresa: Splaiul Independeței, 313, București 060042</p>
              <p>Program:
                </p>
              <ul>
                  <li>Luni-Vineri: 08-22 </li>
                  <li>Sambata: 08-18</li>
                  <li>Duminica: 08-16</li>
                </ul>
          </div>
          <hr/>
          <div class ="questions-info">
            <div class ="questions">
                <h2>Raspunsuri la intrebari</h2>
                <p>
                  Ai nevoie de ajutor?
                  S-ar putea sa gasesti raspunsul la intrebarea ta mai jos.
                </p>
              <h3>Cat timp pot pastra o carte?</h3>
              <p>
                Termenul de imprumut pentru carti este de o luna.
                Daca vrei sa vezi cand trebuie returnat fiecare imprumut, intra in pagina ta de profil, la sectiunea "Citesti acum".
              </p>
              <h3>Cum returnez o carte?</h3>
              <p>
                Poti returna cartile in orice zi la sediul bibliotecii inainte de termenul de retur.
                Dupa ce ai returnat-o nu mai trebuie sa faci nimic, contul tau va fi actualizat pe imediat.
              </p>
              <h3>Vrei sa ne scrii?</h3>
              <p>
                Daca nu ai gasit mai sus raspunsul la intrebarile tale sau vrei sa ne contactezi
                cu o alta intrebare/sugestie, poti folosi butonul din partea dreapta pentru a ne trimite un mesaj
                si iti vom raspunde cu drag.
              </p>
            </div>
              <div class="info-form">

              </div>
          </div>
          </div>
          <div class="map" #gmap style="width:100%;height:400px"></div>
  </div>
  </div>