
    <mat-card id = "registerId">
        <mat-card-title style="align-self: center; margin-top: 10px;">
            Formular inregistrare
        </mat-card-title>
        <mat-form-field id = "firstid">
            <i class="material-icons">
                person
                </i>
          <input matInput placeholder="Nume..." [formControl]="firstName" required>
          <mat-error *ngIf="firstName.invalid">{{getFirstNameErrorMessage()}}</mat-error>
        </mat-form-field>
      
        <mat-form-field id = "lastid">
            <i class="material-icons">
                person
                </i>
            <input matInput placeholder="Prenume..." [formControl]="lastName" required>
            <mat-error *ngIf="lastName.invalid">{{getLastNameErrorMessage()}}</mat-error>
          </mat-form-field>
      
        <mat-form-field id = "colgid">
            <i class="material-icons">
                school
                </i>
            <input matInput placeholder="Facultate..." [formControl]="college" required>
            <mat-error *ngIf="college.invalid">{{getCollegeErrorMessage()}}</mat-error>
          </mat-form-field>
      
        <mat-form-field id = "emailid">
            <i class="material-icons">
                email
                </i>
            <input matInput placeholder="Email..." [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
      
        <mat-form-field id = "passid">
            <i class="material-icons">
                lock
                </i>
            <input matInput placeholder="Parola..." [type]="hide ? 'password' : 'text'" [formControl]="password" required>
            <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
          </mat-form-field>
      
        <div class = "buttons">
            <button mat-button id = "regbuton" (click) = "registerUser()" >Trimite</button>
            <button mat-button id = "cancelbuton" (click) = "cancelRegistration()" >Anulare</button>
          </div>
      </mat-card>

